{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jquery": true,
    "es6": true
  },
  "plugins": ["react"],
  "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "defaultParams": true,
    "classes": true
  },
  "extends": "airbnb",
  "rules": {
    "space-before-function-paren": 0,
    "object-curly-spacing": 0,
    "no-useless-constructor": 0, // Prevent usage of default construtor
    "react/prefer-stateless-function": 1,
    "no-extra-semi": 2, // disallow unnecessary semicolons,
    "react/no-did-mount-set-state": 0, // Prevent usage of setState in componentDidMount
    "react/no-did-update-set-state": 0, // Prevent usage of setState in componentDidUpdate
    "global-require": 0,
    "import/no-unresolved": [1, { "ignore": ['\.img$', '\.images$', 'utils/intl-loader', 'pages/server-error', 'flux/createFlux', 'utils/localized-routes'] }],
    "semi": 0,
    "no-param-reassign": 0,
    "comma-dangle": 1,
    "react/jsx-curly-spacing": 1,
    "array-bracket-spacing": 1,
    "no-unused-expressions": 1,
    "react/jsx-closing-bracket-location": 1,
    "no-confusing-arrow": 1,
    "no-return-assign": 1,
    "no-throw-literal": 1,
    "no-underscore-dangle": 0,
    "prefer-template": 0,
    "linebreak-style": 0,
    "no-unused-vars": 1,
    "react/forbid-prop-types": 0,
    "no-plusplus": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/no-unused-prop-types": 1,
    "react/self-closing-comp": 0,
    "jsx-a11y/label-has-for": 0,
    "import/no-extraneous-dependencies": 0,
    "arrow-parens": 1,
    "prefer-const": 1,
    "react/jsx-no-target-blank": 0,
    "import/first": 1,
    "import/extensions": 0,
    "no-restricted-syntax": 0,
    "jsx-a11y/href-no-hash": 0,
    "object-property-newline": 1,
    "react/no-find-dom-node": 0,
    "react/no-string-refs": 0,
    "import/prefer-default-export": 1,
    "import/no-webpack-loader-syntax": 0,
    "no-mixed-operators": 0,
    "import/no-dynamic-require": 0,
  }
}
